.nav{
    background-image: linear-gradient(rgba(37, 36, 36, 0.774), rgb(0, 10, 12));
    height: 100px;
    color: whitesmoke;
}

.h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-display: initial;
    font-variant: normal;
    font-size: medium;
    color: whitesmoke;
}
.links{
    display: flex;
    column-gap: 20px;
    margin-right: 10px;
    color: whitesmoke;

}

.menu{
    color: whitesmoke;
    text-decoration: none;

}

.nav-container{
    flex-direction: row-reverse;
}
